<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Restore не наследует неизвестные корпоративные/локальные feeds с машины разработчика. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </auditSources>
</configuration>
